html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

#props-editor {
  position: absolute;
  right: 1rem;
  top: 1rem;
  bottom: 1rem;
  z-index: 99999999999999999999999999999999999999999999999;
  opacity: 0.8;
  padding: 0.75rem;
  border-radius: 6px;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  box-shadow: 0px 0px 6px grey;
  resize: none;
}
#props-editor::before {
  width: 1rem;
  height: 1rem;
  background-color: black;
  content: '';
}
