html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

:root {
  --border-radius: 6px;
}

#props-editor {
  position: absolute;
  right: 1rem;
  top: 1rem;
  bottom: 1rem;
  z-index: 99999999999999999999999999999999999999999999999;
  opacity: 0.9;
  box-shadow: 0px 0px 6px grey;
  border-radius: var(--border-radius);
  min-width: 30ch;
  max-width: calc(100vw - 2rem);
}
#props-editor .resize-bar {
  position: absolute;
  left: 0;
  width: 0.35rem;
  height: 100%;
  background-color: var(--vscode-editor-background);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
#props-editor .resize-bar:hover {
  cursor: col-resize;
  background-color: rgba(0, 0, 0, 0.55);
}
#props-editor textarea {
  border: none;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0.35rem;
  padding: 0.75rem;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  resize: none;
  width: calc(100% - 0.35rem);
  box-sizing: border-box;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
#props-editor textarea:focus {
  border: none;
  outline: none;
}
#props-editor:focus {
  outline: inherit;
}
